@tailwind base;
@tailwind components;
@tailwind utilities;



.bgc1{
    background-image: url(./assets/banner.jpg);
    height: 100vh;
    text-align: center;
    position: relative;
}
.bgc1::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.bgc1 > div {
    position: relative;
    z-index: 2;
}

.bgc2{
    background-image: url(./assets/counter-banner.jpg);
    height: 50vh;
    position: relative;
    background-repeat: no-repeat;
}

input{
    /* border: 1px solid black; */
    
}

button{
    /* border: 1px solid black; */
    background-color: rgba(255, 0, 0, 0.767);
}